// Estilos globales para la página Home
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: linear-gradient(135deg, #70c1b3, #247ba0);
}

// Hero section para el título y subtítulo
.hero-section {
  margin-bottom: 40px;
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #ffffff;
  opacity: 0.9;
}

// Botones personalizados
.button-container {
  width: 100%;
  max-width: 380px;
}

.custom-button {
  --background: rgba(255, 159, 28, 0.53);
  --background-hover: #e08916;
  --color: #ffffff;
  --border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 10px;
}

.custom-button:hover {
  --background: rgba(197, 149, 18, 0.85);
}
